.header{
    background: linear-gradient(0.25turn, #0169FB, #095ACD);
    &__nav{
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
    }
    &__form{
        padding: 11px 15px;
        width: 304px;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 5px;
        & label{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__icon{
        margin-right: 10px;
        width: 24px;
        cursor: pointer;
    }
    &__input{
        height: 24px;
        width: 100%;
        background-color: transparent;
        font-size: 14px;
        line-height: 17px;
        border: none;
        outline: none;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        &:first-child{
            margin-right: 40px;
        }
        &:nth-child(2){
            margin-right: 63px;
        }
        &:nth-child(3){
            padding: 15px 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            background: #FE8B37;
            border-radius: 4px;
            transition: 0.5s;
            &:hover{
                box-shadow: 0 0 3px 3px #FE8B37;
            }
        }
    }
    &__bar{
        height: 35px;
        width: 30px;
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    &__line{
        display: inline-block;
        height: 3px;
        margin-bottom: 5px;
        width: 30px;
        background-color: #FE8B37;
        &:last-child{
            margin-bottom: 0;
            width: 30px;
        }
    }
    &__modal{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0.25turn, #0169FB, #095ACD);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       transform: translateX(-100%);
       transition: 1s;
    }
}

//******MEDIA******
@media screen and (max-width: 1100px) {
    .header{
        &__nav{
            padding: 2.3vw 0;
        }
        &__logo{
            font-size: 3.2vw;
        }
        &__icon{
            width: 2vw;
        }
        &__form{
            padding: 6px 7px;
            width: 30vw;
        }
        &__link{
            font-size: 1.8vw;
            &:first-child{
                margin-right: 3.5vw;
            }
            &:nth-child(2){
                margin-right: 6vw;
            }
            &:nth-child(3){
                padding: 1.4vw 1.8vw;
                font-size: 1.8vw;
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header{
        &__logo{
            font-size: 4.2vw;
        }
        &__form{
            display: none;
        }
        &__link{
            font-size: 2.7vw;
            &:nth-child(3){
                font-size: 2.7vw;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .header{
        &__logo{
            font-size: 18px;
            font-weight: 700;
        }
        &__list{
            display: flex;
            align-items: center;
        }
        &__link{
            &:first-child{
                display: none;
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                font-weight: 500;
                margin-right: 10px;
                font-size: 16px;
                padding: 1.4vw 1.8vw;
                background: #FE8B37;
                border-radius: 4px;
            }
        }
        &__bar{
            display: flex;
        }
        &__modal{
            &--btn{
                position: absolute;
                top: 35px;
                right: 35px;
                font-weight: bold;
                background-color: transparent;
                border: none;
                font-size: 26px;
                color: #FE8B37;
            }
            &--link{
                margin: 0;
                font-size: 22px;
                margin-bottom: 25px;
                display: inline-block;
                color: #fff;
                &:last-child{
                    margin-bottom: 0;
                    padding: 15px 20px;
                    background: #FE8B37;
                    border-radius: 4px;
                }
            }
            &--active{
                transform: translateX(0);
            }
        }
    }
}